.shopPage {
  display: flex;
  margin-left: 250px; /* Adjust for the sidebar width */
  padding: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
  
  .heading {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .description {
    font-size: 1.2rem;
    color: #666;
  }
  
  /* ShopPage.module.css */
  .productList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    width: 100%;
  }
