/* ProductCard.module.css */
.productCard {
  width: 100%; 
  max-width: 300px; 
  background-color: #f9f9f9; 
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden; 
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 1rem;
  transition: transform 0.2s ease; 
}

.productCard:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


.productImageContainer {
  aspect-ratio: 4 / 3; 
  overflow: hidden;
  border-radius: 8px; 
  width: 100%; 
}

.productImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top; 
}

.productTitle {
  font-size: 1rem;
  margin: 0.5rem 0;
}

.productPrice {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  margin: 0.5rem 0;
}

.quantityControls {
  display: flex;
  align-items: center; /* Vertically aligns items */
  justify-content: space-between; /* Spaces out the buttons and input */
  gap: 0.5rem; /* Adjusts spacing */
  margin-top: 0.5rem;
  height: 1rem;
}

.decrementButton,
.incrementButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 50%; 
  height: 1.2rem; 
  width: 1.2rem; 
  font-size: 0.8rem; 
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.1s ease; 
}

.decrementButton:hover,
.incrementButton:hover {
  background-color: #f0f0f0; 
  transform: scale(1.1); 
}

.quantityInput {
  width: 2rem; 
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding-left: .8rem; 
  margin: 4px 0 4px;
}

.incrementButton:hover,
.decrementButton:hover:not(:disabled) {
  background-color: #eee;
}

  
  .decrementButton:disabled {
    cursor: not-allowed;
    background-color: #e0e0e0;
  }
  
 
  
  .addToCartButton {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s ease;
  }
  
  .addToCartButton:hover {
    background-color: #218838;
  }