.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 1.5rem;
    border: 2px solid #ffa500; 
    color: white; 
    font-weight: bold;
    font-size: .8rem;
    border-radius: 10%; 
    text-transform: uppercase;
  }
  
