.appContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
     overflow-y: auto; 
     overflow: visible;
  }
  
  .mainContent {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 160px); 
    padding-bottom: 2rem; 
  }