:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  padding: 0;
  
  overflow:hidden; /* Prevent body from scrolling */
  overflow-x: hidden;
  box-sizing: border-box;
}

body {
  min-width: 320px;
  font-family: inherit;
  background-color: #f9f9f9; /* Optional background */
}

a {
  font-weight: 500;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@supports (-webkit-touch-callout: none) {
  .decrementButton, .incrementButton {
    line-height: normal; /* iOS fix */
    text-rendering: optimizeLegibility;
  }
}
